<div class="game-box">
<div class="text-center">
  <h1>Tamabyebye!</h1>
  <img src="/tam_dead.gif" alt="tamagotchi graveyard">
<h1 class="text-center">So sorry! <%= @name %> is in a better place now <br>(It's dead you idiot). Try again!</h1>
<a href='/' class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-left"> Back</span></a>
</div>
</div>
