<form action="/" method="post" class="form-group">
  <input type="text" name="name" placeholder="name your tamagotchi" class="form-control" required autofocus>
  <br>
  <button action="submit" class="btn btn-lg btn-danger">Create Tamagotchi</button>
</form>
<br>
<% if @tamagotchis.any? %>
<ul>
  <% @tamagotchis.each do |tamagotchi| %>
    <li>
      <a href="/game/<%= tamagotchi.id %>"><%= tamagotchi.name %></a>
      <a href="/delete/<%= tamagotchi.id %>"><em><small>Delete Tamagotchi</small></em></a>
    </li>
  <% end %>
</ul>
<% else %>
  <p>You have no tamagotchis!</p>
<% end %>
