<div class="main-header">
  <h1>Tamagotchi! <br><img src="tamogatchi.gif"></h1>
</div>
<form action="/" method="post" class="form-group">
  <input type="text" name="name" placeholder="name your tamagotchi" class="form-control" required autofocus>
  <br>
  <button action="submit" class="btn btn-lg btn-danger">Create Tamagotchi</button>
</form>
<br>
<div class="main-bottom">
  <% if @tamagotchis.any? %>
  <form action="/load_game" method="get">
    <label for="tama[]">Your Tamagotchis <span class="badge"><%= @tamagotchis.length %></span></label>
    <% @tamagotchis.each do |tamagotchi| %>
      <br><br>
      <input type="checkbox" name="tamagotchis[]" value="<%= tamagotchi.id %>"> <%= tamagotchi.name %>
      <a href="/delete/<%= tamagotchi.id %>"><em><small>Delete Tamagotchi</small></em></a>
    <% end %>
    <br><br>
    <button action="submit" class="btn btn-lg btn-danger">Play</button>
    </form>
  <% else %>
    <p>You have no tamagotchis!</p>
  <% end %>
</div>
