@charset "utf-8";

body {
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  color: #000;
  background-color: #FFF;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

em {
  color: red;
  padding-left: 15px;
}

.page-header {
  text-align: center;
}

.main-header {
  background-color: #FFFFC2;
  box-shadow: 10px 10px 5px #888888;
  border: 2px solid;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 225px;
  margin-right: 225px;
  text-align: center;
}

.main-bottom {
  background-color: #FFFFC2;
  box-shadow: 10px 10px 5px #888888;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px;
}

.game-box {
  background-color: #FFFFC2;
  box-shadow: 10px 10px 5px #888888;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px;
  margin-top: 15px;
}
